.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    .cancel {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: default;
    }
    &:target {
      visibility: visible;
      opacity: 1;
      .popup {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
}

a.active .overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 10vh auto;
  padding: 20px;
  height: auto;
  min-width: 300px;
  width: auto;
  max-width: 1200px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  background: #fff;
  border: 1px solid #666;
  position: relative;
  transition: 0.4s;
  opacity: 0.2;
  transform: translate3d(0, -20vw, 0);
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.4;
    transition: all 0.2s;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}