<a class="btn btn-primary" href="#create-card">Add card</a>

<div id="create-card" class="overlay">
  <a class="cancel" href="#"></a>
  <div class="popup card">
    <div class="card-top">
      <h4 class="card-title">Create new card</h4>
      <a class="close" href="#"><i class="fa fa-times"></i></a>
    </div>
    <div class="create-card-block">
      <form *ngIf="active" (ngSubmit)="cardSubmit(cardForm)" #cardForm="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-danger': !name.valid && !name.pristine, 'has-success': name.valid }">
          <label for="name" class="form-control-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        </div>

        <div class="form-group" [ngClass]="{ 'has-success': desc.valid && !desc.pristine }">
          <label for="desc" class="form-control-label">Description <small class="text-muted">- optional</small></label>
          <input type="text" class="form-control" id="desc" placeholder="Description" [(ngModel)]="model.desc" name="desc" #desc="ngModel">
        </div>

        <div class="address-block">
          <div class="row address-row" *ngFor="let adr of model.address; let i = index">
            <div class="address-row-remove" *ngIf="i > 0">
              <button type="button" class="btn btn-danger btn-sm remove" (click)=removeAddress(i)>remove address <i class="fa fa-times"></i></button>
            </div>
            <div class="form-group col-lg-6" [ngClass]="{ 'has-danger': !url.valid && !url.pristine, 'has-success': url.valid }">
              <label htmlFor="url-{{i}}" class="form-control-label">Address</label>
              <input type="url" class="form-control" id="url-{{i}}" placeholder="Address" required name="url-{{i}}" pattern="^https?:\/\/(www.)?[^\/$\s].+" required [(ngModel)]="model.address[i].url" #url="ngModel">
            </div>
            <div class="form-group col-lg-6" [ngClass]="{ 'has-success': comment.valid && !comment.pristine }">
              <label htmlFor="comment-{{i}}" class="form-control-label">Address comment <small class="text-muted">- optional</small></label>
              <input type="text" class="form-control" id="comment-{{i}}" placeholder="Address Comment" [(ngModel)]="model.address[i].comment" name="comment-{{i}}" #comment="ngModel">
            </div>
          </div>
          <button type="button" class="btn btn-info btn-block margin-top-1" (click)="addAddress(model)"><i class="fa fa-plus"></i> Additional address</button>
        </div>

        <div class="form-group" [ngClass]="{ 'has-danger': !tag.valid && !tag.pristine, 'has-success': tag.valid }">
          <label for="tag" class="form-control-label">Tag</label>
          <input type="tag" class="form-control" id="tag" placeholder="Tag" required [(ngModel)]="model.tag" name="tag" #tag="ngModel">
        </div>

        <div class="form-group" *ngIf="usesServer">
          <div class="form-control-label">Image</div>
          <label class="custom-control custom-radio text-muted margin-left-1">
            <input type="radio" class="custom-control-input" value="false" [(ngModel)]="advanced" [ngModelOptions]="{standalone: true}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Basic</span>
          </label>

          <label class="custom-control custom-radio text-muted margin-left-1">
            <input type="radio" class="custom-control-input" value="true" [(ngModel)]="advanced" [ngModelOptions]="{standalone: true}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Advanced</span>
          </label>

          <div class="advanced-form" *ngIf="advanced==='true'">
            <div class="form-group">
              <label for="grab" class="form-control-label">Image grab address</label>
              <input type="url" class="form-control" id="grab" placeholder="Image address" [(ngModel)]="model.image.grab" name="grab" pattern="^https?:\/\/(www.)?[^\/$\s].+" #grab="ngModel">
            </div>

            <div class="form-group">
              <label for="wait" class="form-control-label">Grab wait</label>
              <input type="number" class="form-control" id="wait" placeholder="5000" [(ngModel)]="model.image.wait" name="wait" #wait="ngModel">
            </div>

            <div class="form-group">
              <div class="form-text">Image size</div>
              <div class="row">
                <div class="col-xs-5 col-sm-3 col-lg-2">
                  <label for="sizeX">X</label>
                  <input type="number" class="form-control form-inline" id="sizeX" placeholder="480" [(ngModel)]="model.image.sizeX" name="sizeX" #sizeX="ngModel">
                </div>
                <div class="col-xs-5 col-sm-3 col-lg-2">
                  <label for="sizeX" class="form-control-label">Y</label>
                  <input type="number" class="form-control" id="sizeY" placeholder="270" [(ngModel)]="model.image.sizeY" name="sizeY" #sizeY="ngModel">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!usesServer" [ngClass]="{ 'has-danger': !image.valid && !image.pristine, 'has-success': image.valid }">
          <label for="image" class="form-control-label">Image <small class="text-muted">- optional</small></label>
          <input type="file" class="form-control" id="image" [(ngModel)]="model.image" name="image" #image="ngModel">
        </div>

        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!cardForm.form.valid">Add</button>
          <label class="custom-control custom-checkbox text-muted margin-left-1">
            <input class="custom-control-input" type="checkbox" [(ngModel)]="keep" [ngModelOptions]="{standalone: true}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Keep window open</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>