<a class="btn btn-primary" href="#create-card">Add card</a>

<div id="create-card" class="overlay">
  <a class="cancel" href="#"></a>
  <div class="popup card">
    <div class="card-top">
      <h4 class="card-title">Create new card</h4>
      <a class="close" href="#"><i class="fa fa-times"></i></a>
    </div>
    <div class="card-block">
      <form *ngIf="active" (ngSubmit)="cardSubmit(cardForm)" #cardForm="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-danger': !name.valid && !name.pristine, 'has-success': name.valid }">
          <label for="name" class="form-control-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" required [(ngModel)]="model.name" name ="name" #name="ngModel" >
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        <div class="form-group" [ngClass]="{ 'has-success': desc.valid && !desc.pristine }">
          <label for="desc" class="form-control-label">Description <small class="text-muted">- optional</small></label>
          <input type="text" class="form-control" id="desc" placeholder="Description" [(ngModel)]="model.desc" name ="desc" #desc="ngModel" >
          <!-- <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': !url.valid && !url.pristine, 'has-success': url.valid }">
          <label for="url" class="form-control-label">Address</label>
          <input type="url" class="form-control" id="url" placeholder="Address" required [(ngModel)]="model.url" name ="url" #url="ngModel" >
          <!-- <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': !tag.valid && !tag.pristine, 'has-success': tag.valid }">
          <label for="tag" class="form-control-label">Tag</label>
          <input type="tag" class="form-control" id="tag" placeholder="Tag" required [(ngModel)]="model.tag" name ="tag" #tag="ngModel" >
          <!-- <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        <div class="form-group" *ngIf="usesServer">
          <div class="form-control-label">Image</div>
          <label class="custom-control custom-radio text-muted margin-left-1">
            <input type="radio" class="custom-control-input" value="false" [(ngModel)]="advanced" [ngModelOptions]="{standalone: true}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Basic</span>
          </label>
          <label class="custom-control custom-radio text-muted margin-left-1">
            <input type="radio" class="custom-control-input" value="true" [(ngModel)]="advanced" [ngModelOptions]="{standalone: true}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Advanced</span>
          </label>

          <div class="advanced-form" *ngIf="advanced==='true'">
            <div class="form-group">
              <label for="grab" class="form-control-label">Image grab address</label>
              <input type="address" class="form-control" id="grab" placeholder="Image address" [(ngModel)]="model.image.grab" name="grab" #grab="ngModel" >
            </div>
            <div class="form-group">
              <label for="wait" class="form-control-label">Grab wait</label>
              <input type="number" class="form-control" id="wait" placeholder="5000" [(ngModel)]="model.image.wait" name="wait" #wait="ngModel" >
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!usesServer" [ngClass]="{ 'has-danger': !image.valid && !image.pristine, 'has-success': image.valid }">
          <label for="image" class="form-control-label">Image <small class="text-muted">- optional</small></label>
          <input type="file" class="form-control" id="image" [(ngModel)]="model.image" name ="image" #image="ngModel" >
        </div>
        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!cardForm.form.valid">Add</button>
          <label class="custom-control custom-checkbox text-muted margin-left-1">
            <input class="custom-control-input" type="checkbox" [(ngModel)]="keep" [ngModelOptions]="{standalone: true}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Keep window open</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>