<nav class="navbar navbar-light bg-faded" style="position: static;">
  <a class="navbar-brand" href="#">Bookmarks</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li> -->
  </ul>
  <create-card></create-card>
  <div class="pull-xs-right">
  <div class="info">
    Keyboard navigation supported using tab. When a card is focused use ← and → keys to switch between cards.
  </div>
    <source-select></source-select>
    <!-- <span>Displaying: Local data</span>
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Filter">
      <button class="btn btn-success-outline" type="submit">Filter</button>
    </form> -->
  </div>
</nav>