@import 'node_modules/bootstrap/scss/bootstrap-flex';

.margin-left-1 {
    margin-left: 1vw;
}
.margin-top-1 {
    margin-top: 1vh;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #666;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #666;
    -webkit-border-radius: 6px;
}
